@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@300&display=swap");
/*------*/
/*Fonts*/


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    background-color: #182434;
}

/*Carousel Home Page */

.carousel {
    width: 50%;
    height: 400px;
    margin-top: 10%;
    margin-left: 25%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.carousel-inner {
    transition: transform 0.5s ease;
    display: block;
    align-items: center;
    justify-content: center;
    height: 100%;
}



.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.carousel-control {
    width: 25px;
    margin: 0 auto;
}


/* Accordion */

#accordionFlushExample {
    position: absolute;
    top: 30%;
    left: 5%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    width: 300px;

}


.accordion-header {
    background-color: #2c3d52;

}


.accordion-button {
    color: #182434;
    font-family: 'Montserrat', sans-serif;
}

.accordion-body {
    background-color: #2c3d52;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0 0 10px 10px;
    max-height: 300px;
    overflow-y: auto;
}

.accordion-body {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.accordion-item {
    height: auto;

}


.weather-widget h1 {
    color: #182434;
}

/* Weather Widget */
.weather-widget {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 550px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 5%;
    color: #182434;
    text-align: center;
    margin-top: 5%;
}


.weather-widget h1 {
    color: #182434;
    margin-bottom: 20px;

}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #182434;
}


.temperature {
    font-size: 64px;
    /* Increase the font size */
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}

.conditions {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
}


.btn {
    background-color: #2c3d52;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: #182434;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card {
    color: rgb(255, 255, 255);
    width: 100%;
    background-color: #2c3d52;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.logo-container {
    position: relative;
    display: inline-block;
}

.logo-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.logo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.logo-container:hover .logo {
    opacity: 0;
}

.logo-container:hover .logo-hover {
    opacity: 1;
}


.btn-top-right {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #ffffff;
}

.navbar-title {
    color: #ffffff;
    font-size: 24px;
    margin-right: 80%;

}


.btn-top-right {
    position: absolute;
    top: 20px;
    background-color: #273b56;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    z-index: 999;
    text-decoration: none;
}


.btn-top-right:hover {
    background-color: #182434;
}

.container {
    margin-top: 50px;
}

.trip-card {
    border: 1px solid #dee2e6;
    margin-bottom: 20px;
    padding: 20px;
}

.remove-trip {
    color: #fff;
    background-color: #dc3545;
    border: none;
}


.header {
    display: flex;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #182434;
    z-index: 1000;
}

.logo-container {
    position: relative;
    display: flex;
    align-items: center;
}

.logo-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.navbar-title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-left: 10px;
}

.table,
thead,
table {
    margin: 0 auto;
    text-align: center;
    background-color: #182434;
    width: 80%;
    border-radius: 10px;
}

th {
    border-radius: 5px;
    background-color: #182434 !important;
    color: white !important;
}

td {
    border-radius: 5px;
    background-color: #182434 !important;
    color: white !important;
}